
/* Tasker css */
.tasker-container {
  flex-direction: column;
}

.tasker-input-group {
  display: flex;
  text-align: end;
}

.input-textfiled {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-save-form {
  display: flex;
  flex-direction: row;
}


.tasker-input-group .input-form {
  flex: 1;
  text-align: left;
}

.title-input {
  width: 100%;
}

.title-input Input {
  width: 70%;
  margin: 10px;
}

.description-input {
  height: 100%;
  margin: 10px;
  font-size: 16px;
}

.input-title-group {
  display: flex;
  flex-direction: row;
}


.input-save-group {
  text-align: right;
  margin: 10px 10px 10px 0px;

}

.date-input {
  flex: 1;

}


.tasker-task-group {
  display: flex;
}

.tasker-gantt {
  flex: 1;

  background-color: rgb(109, 69, 20);
}

.tasker-table {
  flex: 1;
  background-color: #943535;
}


.create-form {
  margin-left: auto;
}

.create-form .create-button {
  color: white;
  margin-right: 10px;
  background-color: none;
  border: 0px;
}

.logo {
  width: 48px;
  height: 48px;
  color: white;
}
